@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
/* Might want to change this font later. */

.App {
    text-align: center;
}

/* TODO: Deal with the testing of this input later, different inputs require different styles. Is this taking over the others? */
input {
    width: 500px;
    height: 25px;
    padding: 0;
    margin: 0;
}

/* TODO: This should be a separate styled component, not styled in my App.css */
.formContainer {
    display: flex;
    position: fixed;
    top: 0%;
    left: 36.6%;
    background-color: rgb(29, 29, 29);
    flex: 1;
    flex-direction: column;
    z-index: 5;
    gap: 2rem;
    border: 5px solid rgb(151, 146, 146);
}

/* TODO: This should be a separate styled component, not styled in my App.css. Related to header and its positioning. */
.inputContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* TODO: This should be a separate styled component, not styled in my App.css */
.formButton {
    width: 504px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #0f0606;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #e0e1dd;
}

main {
    background-color: #0f0606;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 25px;
}

.App-link {
    color: #61dafb;
}

.pageContentContainer {
    display: flex;
    flex: 1;
    width: 90%;
    justify-content: center;
}

header {
    width: 100vw;
}
