@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
/* Probably create the whole styles for all of this Movie Card as a styled component. */
/* Set the buttons separately. */

.cardContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 15vw;
    border-radius: 12px;
}

.imgLink {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}

h2 {
    font-size: 30px;
    margin: 0px;
    text-wrap: pretty;
}

.description {
    font-size: 18px;
    align-self: flex-start;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 5px;
}

.runtime {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    align-self: flex-start;
    margin-top: 2px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.year {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    color: rgb(156, 156, 156);
    margin: 0px;
}

.cardButtonContainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-right: 5px;
}

.moviePosters {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Create under styled components */
.readMoreButton {
    background-color: #2f0000;
    font-weight: bolder;
    font-size: 12px;
    font-style: oblique;
    box-shadow: 0px 2px 5px black;
    color: #e0e1dd;
    border: none;
}

/* hover under styled components. */
.readMoreButton:hover {
    cursor: pointer;
    background-color: #650000;
    transition-duration: 150ms;
}

/* Positioning this image behind our previous image and creates a glowing background affect. */
.movieGlow {
    position: absolute;
    z-index: -2;
    right: -7px;
    top: -12px;
    filter: blur(8px) saturate(125%) brightness(125%);
    opacity: 65%;
    width: 106%;
    height: 106%;
    /* TODO: Create animation loop of filter setting changes to make it look like its glowing? */
}
