.moviePageContentContainer {
    display: grid;
    grid-template-columns: 1fr 1440px 1fr;
    font-size: 1rem;
    grid-template-areas: "leftColumn middleColumn rightColumn";
    grid-area: middleColumn;
    /* Potentially looks really good without full size of screen. Consider the design. */
}

.moviePageContent {
    grid-area: middleColumn;
}

.contentOnImage {
    margin-left: 50px;
    margin-right: 50px;
}

.actorsContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}
.actorsHeading {
    margin: 0px;
    font-style: italic;
}
.actors {
    margin: 3px;
    margin-left: 0;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
}

.backdropImage {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    object-fit: none;
    box-shadow: 0 0 155px 8px black;
}

.movieGlow {
    /* Gives our moviePage background image a nice effect that blends the colors into the theme of the page. */
    position: absolute;
    z-index: -2;
    right: 0px;
    top: -200px;
    filter: blur(155px) saturate(125%) brightness(125%);
    opacity: 55%;
    width: 100%;
    height: 106%;
    /* TODO: Create animation loop of filter setting changes to make it look like its glowing? */
}

.description {
    grid-area: middleColumn;
}
