@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

.navbarContainer {
    background-color: #0f0606;
    font-family: "Inknut Antiqua", serif;
    color: #e0e1dd;
    display: grid;
    width: 100%;
    grid-template-rows: 10vh;
    grid-template-columns: 20vw 35vw 6vw 6vw 6vw 6vw 7.5vw 6vw;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid #490000; /* the 2 px extra for the home page height. */
}

.pageTitle {
    font-size: 2vw;
    text-decoration: inherit;
    color: inherit;
}

.navbarItem {
    font-size: 1.2vw;
    text-decoration: inherit;
    color: inherit;
}
